@tailwind base;
@tailwind components;
@tailwind utilities;

.textInput {
  color: darkgray;
  transition: all 250ms ease-in;
}

.textInput::placeholder {
  font-size: 0.65rem;
}

.default {
  border-bottom: 1px solid darkgray;
}

.default:hover, .default:focus {
  border-bottom: 1px solid blue;
}

.outlined{
  border: 1px solid darkgray;
}

.outlined:hover, .outlined:focus {
  border: 1px solid blue;
}

.filled {
  border: 1px solid darkgray;
  background-color: rgb(218, 216, 216);
}

.filled:hover, .filled:focus {
  background-color: rgb(238, 238, 238);
}

label {
  position: absolute;
  top: 21px;
  left: 30px;
  color: #999999;
  transition: 0.5s all ease;
  pointer-events: none;
  font-size: 0.65rem;
  z-index: 10;
}

.textInput:focus ~ label,
.textInput:not(:focus):valid ~ label {
  transform: scale(0.75);
  top: 0;
  left: 18px;
}