.date-picker--wrapper {
  .date-picker--sm {
    height: 1rem;
    width: 9rem;
    padding: 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .date-picker--md {
    height: 1rem;
    width: 12rem;
    padding: 0.875rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .date-picker--lg {
    height: 1rem;
    width: 15rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .date-picker--default {
    background: none;
    border-bottom: 2px solid rgba(75, 85, 99, 1);
  }

  .date-picker--filled {
    background-color: rgb(226, 226, 226);
    border-radius: 0.25rem;
    border: 2px solid rgba(75, 85, 99, 1);
  }

  .date-picker--outlined {
    border-radius: 0.25rem;
    border: 2px solid rgba(75, 85, 99, 1);
  }

  .label {
    position: absolute;
    width: max-content;
    font-size: 0.725rem;
  }

  .label.label--top {
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .label.label--bottom {
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .label.label--left {
    left: -50px;
    transform: translate(-50%, 50%);
  }

  .label.label--right {
    right: -110px;
    transform: translate(-50%, 50%);
  }
}
